* {
  margin: 0; padding: 0; box-sizing: border-box;
}
::selection {
  background: var(--dark-green);
  color: var(--white-color);
}
*::-webkit-scrollbar {
    width: .5rem;
}
*::-webkit-scrollbar-track {
    background: #59882B;
}
*::-webkit-scrollbar-thumb {
    background: #FEBD00;
}
:root {
  --white-color: #FFFFFF;
  --dim-white: #F8FBF5;
  --black-color: #2a2529;
  --dim-black: #776f75;
  --yellow-color: #FEBD00;
  --dark-green: #59882B;
  --lite-green: #8CB560;
}
body {
  font-family: Source Sans Pro !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: #474746 !important;*/
}