.nav-header {
	height: 60px;
	display: flex;
	align-items: center;
	background: var(--dim-white);
	justify-content: space-around;
}
.nav-header .nav-brand {
	font-family: Playball;
	letter-spacing: 1.55px;
	font-weight: 600;
	z-index: 10000;
	font-size: 34px;
	color: transparent;
	background: linear-gradient(to right, var(--lite-green), var(--dark-green));
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 10%;
	cursor: pointer;
	text-transform: capitalize;
	text-decoration: none;
}
.nav-header nav {
	display: flex;
	align-items: center;
}
.nav-header .nav-links {
	text-decoration: none;
	color: var(--black-color);
	font-weight: 600;
	font-size: 16px;
}
.nav-header .nav-links:not(:last-child) {
	margin-left: 3rem;
}
.nav-header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--black-color);
	display: none;
	font-size: 1.8rem;
}
.navbar-bars {
	color: var(--dark-green);
}
@media(max-width: 480px) {
	.nav-header {
		justify-content: space-evenly;
		padding: 0 .55rem 0 1rem !important;
	}
	.nav-header .nav-close-btn {
		top: .25rem !important;
		right: .65rem !important;
	}
}
/*//////////////////////*/
@media(max-width: 768px) {
	.nav-header {
		justify-content: space-between;
		padding: 0 1.35rem 0 2rem;
	}
	.nav-header nav {
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background: linear-gradient(to top, var(--dark-green), var(--white-color));
		transition: 1s;
		transform: translateY(-100vh);
	}
	.nav-header .nav-btn {
		display: block;
	}
	.nav-header .responsive_nav	{
		transform: none;
	}
	.nav-header .nav-close-btn {
		position: absolute;
		top: .35rem;
		right: 1.35rem;
	}
	.nav-header .nav-links {
		font-size: 2rem;
	}
	.nav-header .nav-links:not(:last-child) {
		margin: 5px 0;
	}
}
